*{
    text-transform: uppercase;
}
p{
    text-transform: none;
}
html, body{
    overflow-x: hidden;
}

.section-title{
    @include section-header();
    & + p{
        font-family: 'OpenSans';
        font-size: 14px;
        color: $text-color;
        letter-spacing: 0.5px;
        line-height: 170%;
        text-align: justify;
    }
    & + .btn-graxpo{
        @include btn-style();
        @include transition();
    }
}
