.counter{
    font-family: 'RobotoThin';
    background: url(../img/counter-bg.jpg);
    color: #fff;
    padding: 150px 0 100px;
    .container{
        & > div{
            margin-bottom: 50px;
        }
    }
    .count{
        font-size: 3em;
        display: inline;
        font-weight: 100;
    }
}
