.portfolio{
  background: $section-background;
  .col-lg-12{
    margin-bottom: 80px;
  }
  padding: 0;
  margin: 0;
  .item{
    position: relative;
    overflow-y: hidden;
    img{
      width: 100%;
    }
    .port-overlay{
      position: absolute;
      top: 5%;
      bottom: 5%;
      left: 5%;
      right: 5%;
      background-color: $base-color;
      opacity: .6;
      color: #fff;
      transform: translateY(110%);
    }
  }
}
