@keyframes bounce {
    0%, 10%, 25%, 40%, 50% {
    transform: translateY(0);
  }
	20% {
    transform: translateY(-30px);
  }
	30% {
    transform: translateY(-15px);
  }
}
//-----------------------------------------------------------------------
@-webkit-keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    -webkit-transform: translate3d(0, 350px, 0);
    transform: translate3d(0, 350px, 0);
  }

  60% {
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
//-----------------------------------------------------------------------
