@font-face{
    font-family: 'LeckerliOne';
    src: url(../fonts/LeckerliOne-Regular.otf);
}
//---------------------------------------------
@font-face{
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}
//--------------------------------------------
@font-face{
    font-family: 'RobotoMedium';
    src: url(../fonts/Roboto-Medium.ttf);
}
//--------------------------------------------
@font-face{
    font-family: 'RobotoThin';
    src: url(../fonts/Roboto-Thin.ttf);
}
