@font-face{
    font-family: 'LeckerliOne';
    src: url(../fonts/LeckerliOne-Regular.otf);
}
//---------------------------------------------
@font-face{
    font-family: 'OpenSans';
    src: url(../fonts/OpenSans-Regular.ttf);
}
